<ion-header>
  <ion-navbar>
    <ion-title>
      Photo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home">
  <ion-card>
    <ion-card-content>
      Hello World, this is my camera app!

      <button ion-button (click)="takePicture()">Take a Picture</button>

      Latest Picture:
      <img [src]="base64Image" *ngIf="base64Image" />

      <button ion-button (click)="uploadPicture()" *ngIf="base64Image">Get Emotion!</button>
    </ion-card-content>
  </ion-card>
</ion-content>